.what{
width:100%;
min-height: 250px;
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
text-align: center;

}

.what_heading{
  font-style:normal;
  font-weight: 500;
  font-size: 45px;
  color:#000000;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 20px;
  margin-top: 15px;
}

.what_paragraph{
  font-style:normal;
  font-weight: 400;
  font-size: 20px;
  color:#000000;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  margin-bottom: 40px;
}
