.TopNav{
  min-height:70px;
  width:100%;
  position: sticky;
  background-color: #f2d423;
color: black;
display: flex;

}

.topNav_bar_Main{
  width:95%;
  display: flex;
  min-height:40px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.topNav_bar{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;

}

.TopNav img{
  height:40px;
  width:120px;
}

.TopNav_Elements{

  font-style:normal;
  font-weight: 400;
  font-size: 20px;
  color:#000000;
  display: flex;
  flex-direction: row;
   min-width:40%;
   justify-content: space-between;
}

.TopNav_Elements div{
  padding:5px;
  cursor: pointer;

}

.TopNav_Elements div:hover{
  border-radius: 20px;
  background-color: #f59600;
}

.TopNav_hamburger{
  display: none;
}

.hamburger_box{
  display: none;
}

/**********************************max width :980px******************************/

@media all and (max-width:980px){
  .TopNav_Elements{
    display: none;
  }
  .TopNav_hamburger{
    display: flex;
    height:40px;
    width:40px;
    border:2px solid rgba(0,0,0,.1);
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
      cursor: pointer;
      border-radius: 5px;
      margin-right: 20px;
  }
  .TopNav_hamburger div{
    width:100%;
    background-color: rgba(0,0,0,.3);
    height:1px;
  }
  .hamburger_box{
    width:100%;
    min-height:100px;
    display: flex;
    flex-direction: column;
    color: black;
    font-style:normal;
    font-weight: 400;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Poppins';
  }
  .hamburger_box div{
    padding-left: 10px;
    cursor: pointer;
  }
  .hamburger_box div:hover{
    border-radius: 20px;
    width:99%;
    background-color: #f59600;
    }

}
